@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --text-xl-regular: Inter;
  --text-button-semibold-large: Inter;

  /* font sizes */
  --text-xl-regular-size: 1.13rem;
  --display-m-semibold-size: 3.25rem;
  --headline-m-desktop-bold-size: 2rem;
  --text-button-semibold-large-size: 0.94rem;
  --text-s-regular-size: 0.88rem;
  --text-l-medium-size: 1rem;

  /* Colors */
  --color-whitesmoke: #f9f9f9;
  --gray-700: #272d37;
  --base-white: #fff;
  --color-gainsboro: #dae0e6;
  --primary-600: #437ef7;
  --primary-700: #3971e7;
  --primary-900: #2b63d9;
  --primary-400: #648ef7;
  --purple-secondary-600: #574efa;
  --primary-200: #b1ccfb;
  --color-silver-100: #c3c3c3;
  --gray-700: #272d37;
  --base-black: #000;
  --system-background-light-secondary: #f2f2f7;

  /* Gaps */
  --gap-base: 1rem;
  --gap-13xl: 2rem;
  --gap-7xs: 0.38rem;
  --gap-xs: 0.75rem;
  --gap-9xs: 0.25rem;

  /* Paddings */
  --padding-105xl: 7.75rem;
  --padding-13xl: 2rem;
  --padding-base: 1rem;
  --padding-3xs: 0.63rem;
  --padding-5xs: 0.5rem;

  /* border radiuses */
  --br-8xs: 5px;
  --br-11xl: 30px;
  --br-81xl: 100px;
}